@font-face {
    font-family: Marck Script; 
    src: url(../fonts/Marck_Script/MarckScript-Regular.ttf); 
}

html, body {
    /*background: #CD661D;*/
    /*background: url(../images/honey-292133_1920.jpg);*/
    font-family: 'Marck Script';
    background: black;
    background-size: cover;
    background-position: right, bottom;
    margin: 0;
    padding: 0;
    min-height: 100%;
    cursor: url(../images/bee.ani)
}

h1 {
    color: #FDC211;
/*    font-family: 'Marck Script';*/
    text-align: center;
    font-size: 5em;
    margin: 0;
}

h3 {
    font-size: 2em;
    margin: 0;
    color: #78D2FF;
}

h4 {
    color: black;
    font-size: 3.5em;
}

table {
    color: #FDC211;
    text-align: center;
}

#right-column {
    width: 40%;
    padding: 40px;
    font-size: 20px;
}

.bee {
    position: relative;
    top: -30px;
}

#bee1 {
    left: 5px;
   -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#field {
    background: #CD661D;
    background: transparent;
    margin: 0 auto;
}

table {
    margin-top: 20px;
}

.cell {
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear; 
    -moz-transition: all 0.5s linear; 
    -o-transition: all 0.5s linear;
}

.cell:hover {
    cursor: pointer;
}

.text {
    font-size: 4em;
    /*font-size: 50px;*/
    font-style: italic;
    font-family: 'Marck Script', cursive;
    fill: #e99605;
    text-align: center;
    dominant-baseline: middle;
    alignment-baseline: central;
    pointer-events: auto;
    text-anchor:middle;
}

.text:hover {
    cursor: pointer;
}

#overlay {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     transition: all linear 0.5s;
}

#overlay div {
    width:300px;
    height:400px;
    width: 300px;
    height: 400px;
    background:#f00;
    position:absolute;
    top:50%;
    left:50%;
    border: 12px solid #FDBF0F;
    border-radius: 10px;
    background: #DD9C00;
    /*font-size: 4em;*/
    margin-top: -200px;
    margin-left: -150px;

}

#overlay div p {
    font-size: 4em;
}

#overlay.active {
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

#modal p {
    margin: 30px;
}

#button-ok {
    /*width: 80%;
    height: 3.5em;*/
    border: 2px solid transparent;
    border-radius: 6px;
}

#button-ok:hover {
    cursor: pointer;
}
